@import "tailwindcss";

:root {
  --bg: hsl(0, 0%, 100%);
  --comp-bg: hsl(0, 0%, 95%);
  --ele-bg: hsl(0, 0%, 90%);
  --heading: hsl(0, 0%, 5%);
  --sub-heading: hsl(0, 0%, 10%);
  --text-color: hsl(0, 0%, 15%);
  --border: hsl(0, 0%, 70%);
  --gradient: linear-gradient(0deg, var(--bg), hsl(0, 0%, 0%));
}

:root[data-theme="dark"] {
  --bg: hsl(0, 0%, 0%);
  --comp-bg: hsl(0, 0%, 6%);
  --ele-bg: hsl(0, 0%, 10%);
  --heading: hsl(0, 0%, 95%);
  --sub-heading: hsl(0, 0%, 70%);
  --text-color: hsl(0, 0%, 85%);
  --border: hsl(0, 0%, 30%);
  --gradient: linear-gradient(0deg, var(--bg), hsl(0, 0%, 100%));
}

@layer utilities {
  .subtitle {
    line-height: 2em;
  }

  .comp-bg {
    background: var(--comp-bg);
  }

  .ele-bg {
    background: var(--ele-bg);
  }
}

body {
  background: var(--bg);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 1.05em;
  color: var(--heading);
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1em;
  color: var(--sub-heading);
  font-weight: 550;
}

h3 {
  font-size: 2.5rem;
  line-height: 1.5em;
  color: var(--text-color);
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.5em;
  color: var(--text-color);
  font-weight: 500;
}
